.header { 
  height: 7vh;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  &_img {
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 5px 0 rgb(102, 215, 221),
      1px 1px 3px 2px rgb(92, 162, 235);
  }
  
  &_menu {
    display: none;
    @media all and (max-width: 730px) {
      display: block;
      width: 40px;
      height: 40px;
      font-size: 18px;
      font-weight: 400;
      color:rgb(110, 161, 232);
      background-color: rgb(0, 0, 0);
      box-shadow: inset 1px 1px 2px 0 rgb(102, 215, 221),
      1px 1px 3px 2px rgb(92, 162, 235);
      border-radius: 50%;
    }
  }
  &_nav {
    
    @media all and (max-width: 730px){ 
    opacity: 0;
    visibility: hidden;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    background-color:  rgba(2,1,43,1) ;
    border: solid 2px rgb(110, 161, 232);
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    
  }
    &_bubble {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 2rem;
      
      @media all and (max-width: 730px){
        display: flex;
        flex-direction: column;
        align-items: end;
      }
      &_li {
        list-style: none;
        display: flex;
        font-family: "Tenor Sans", sans-serif;
        color: rgb(110, 161, 232);
      }
      &_li a {
        text-decoration: none;
        font-family: "Tenor Sans", sans-serif;
        color: rgb(110, 161, 232); 
        font-size: 12px;
        @media all and (min-width: 730px) and (max-width:2000px){
        font-size: calc(12px + 0.5vw);
        }
      }
      :hover {
        color: black;
        font-weight: 700;
        background: rgb(110, 161, 232);
        box-shadow: 1px 1px 3px 0 rgb(102, 215, 221),
          4px 4px 16px 2px rgb(92, 162, 235);
        
      }
    }
  }
}
.visible{
  opacity: 1;
  visibility: visible;
  position: absolute;
  
}
