.footer {
    height: 7vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_text{
        color: black;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        padding: 0.5rem;
      }
  }