.header {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  &_title{
    color: black;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
  }
}