.title {
  text-align: center;
  color: rgb(114, 194, 228);
  text-shadow: rgb(113, 200, 230) 1px 0 10px;
  margin: 2rem;
  padding-top: 2.4rem;
  font-family: $textFont;
  font-weight: 400;
  font-size: 30px;
  animation: down 1.5s;
  transform: translateY(0);
}
@keyframes down {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(40px);
  }
}
.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_about {
    width: 80vw;
    margin: 2rem;
    color: $lightColor;
    font-family: $textFont;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
  
    &_text span{
        text-transform: uppercase;
        display: block;
        
      }
    
  }

  &_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;
  
    
    
    &_link {
      text-decoration: none;
      color: transparent;
      text-shadow: $lightColor 1px 1px;
      font-family: $textFont;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      
      
    }
    &_tools {
      height: 8rem;
      width: 8rem;
      box-shadow: inset -10px -10px 25px 0 rgb(102, 215, 221), 1px 1px 3px 2px rgb(92, 162, 235);
      border-radius: 50%;
      padding-top: 3.5rem;
      padding-left: 0.3rem;
      transition: background-color 0.3s ease;
    }
    
    
    &_projects {
      height: 8rem;
      width: 8rem;
      padding-left: 1.4rem;
      box-shadow: inset 10px 10px 25px 0 rgb(102, 215, 221),
        1px 1px 3px 2px rgb(92, 162, 235);
      border-radius: 50%;
      padding-top: 3.5rem;
      transition: background-color 0.3s ease;
      } :hover{
        background: radial-gradient(circle, rgb(143, 156, 214) 28%, rgba(2,1,43,1) 100%);
        border-radius: 50%;
        color: rgb(8, 79, 102);
  
  }
    }
    
    
   
  
}
